html{
	box-sizing: border-box;
}

body{
	color:#3c0000;
	background-color:#fef9f3;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 0;
}
a{
	color:#3c0000;
}
h3{
	font-size: 40px;
	line-height: 42px;
	font-family:'Roboto Condensed', sans-serif;
	font-weight: 700;
}
.container {
	max-width: 1000px;
	padding: 0 10px;
	margin: 0 auto;
}
.header {
	background-color: #fcebd7;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 300px;
	margin-bottom: 30px;
}
.header__avatar {
	border: 1px solid #3c0000;
}
.header__name {
	font-family:'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 60px;
	line-height: 70px;
}
.contacts__inner {
	display:flex;
	justify-content: space-between;
	align-items: center;
	height: 200px;
	margin-bottom: 30px;
	border-bottom: 1px solid #3c0000;
}
.contacts__items {
	list-style: none;
}
.contacts__item {
	margin-bottom: 5px;
}
.summary__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
	margin-bottom: 30px;
	border-bottom: 1px solid #3c0000;
}
.summary__text {
	width: 600px;
}
.skills__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	border-bottom: 1px solid #3c0000;
}
.skills__list {
	list-style: none;
}
.skills__item {
	margin-bottom: 5px;
}
.code__inner{
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: center;
	margin-bottom: 30px;
	border-bottom: 1px solid #3c0000;
}

.education__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	border-bottom: 1px solid #3c0000;
}
.education__list {
	list-style: none;
}
.education__item {
	margin-bottom: 5px;
}

.lang__inner {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: center;
}

.lang__list {
	list-style: none;
	margin-left: -35px;
}
.lang__item {
	margin-bottom: 5px;
}
.footer {
	background-color: #fcebd7;
}
.footer__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}
.footer__link {
}
.footer__logo {
	width: 50%;
	height: 50%;
}
.footer_youtube {
	align-self: center;
}